.message-container {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .messagePostUsername {


    width:100px;
    overflow-x:hidden;
    text-align: left;
  }
  .message-text {
    word-wrap: break-word;
    overflow-wrap: break-word; 
    width: 78%;
    text-align: left;
  }
  .message-content {
    display: flex;
    flex-direction: row;
    
  }
  
  
  