

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  display: flex; 
  width: 100%; 

  box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
  position:sticky;
  top:0;
  z-index: 100;
  flex-direction: row;

}
#logoBox{
  display: flex;
  flex: 1;
}
.rightSide{
flex: 1;
flex-direction: column;


}
.userSearch{
  align-self: flex-end;
  justify-content: flex-end;
  color:white;
  position: relative;
  text-align: right;
  padding-right: 20px;
  padding-top: 15px;

}
.userSearchBox{
  width: 40%;
}


.userSearchResults {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  background-color: black;
  list-style: none;
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 70px;
  overflow-y: scroll;
  width: 50%;
  box-sizing: border-box;
  color:white;
  text-align: left;
}

.userSearchResults li {
  padding: 5px 10px;
  cursor: pointer;
} 

.userSearchResults li:hover {
  background-color: #f0f0f0;
  color: black;
}

.linksBox{
  justify-content: space-around;
  display: flex;
}

.nav-item{
  
}
.nav-item a {
  font-family: "Alegreya SC";
    display: flex;

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
;
}

.nav-item a:hover {
    background-color: #2a2e39;
    border-radius: 10pt;
}
#logoBox:hover{
    background-color: #2a2e39;
    border-radius: 10pt;

}
.logo {
    padding: 20px;
    height:auto;
    max-width: 90%;
    max-height: 100px;
}
@media (max-width: 580px) {
    .navbar {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
      /* Your other styles for smaller screens */
     
    }
  
    .logo {
      display: none; /* Hide the logo on smaller screens */
      /* Adjust other styles for the logo if needed */
    }
  
    .nav-item {
      margin-bottom: 10px; /* Adjust spacing between stacked items */
      /* Your other styles for stacked nav items */
    }
  }
