.clubPage{
    text-align: center;
    background-color: hsl(90, 1%, 36%);
    color: #d5d2d0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    
}

.clubCardsContainer{
    display: flex;
    flex-wrap: wrap;
}

.club-input {
    margin-left: 10px;
    width: 400px;
}

.messagePost{
    display:flex;
   flex-direction: row;
    margin-top: 5pt;
  }
.postText{
margin-top: 5pt;
}
.postButton{
margin-top: -1pt;

}


