body{
    background-color: #5c5d5b ;
    margin: 0px;
}

.myButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
    border: 2px solid #2980b9;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin:5px;
  }
.myButton:hover {
  background-color: #2980b9;
  color: #fff;
  border-color: #2980b9;
}
.myButton:active,
.myButton:focus {
  outline: none;

}

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px; 
  }
.custom-select select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  outline: none;
  margin-bottom: 10pt;
}
.custom-select select:hover,
.custom-select select:focus {
  border-color: #3498db;
}
.custom-select select:active,
.custom-select select:checked {
  background-color: #3498db;
  color: #fff;
}

.custom-radio {
  display: flex;
  align-items: center;
  margin: 10px 0; 
  justify-content: center;
}
  .custom-radio label {
    display: flex;
    align-items: center;
    margin-right: 15px; 
    margin-bottom: 0;
  }
  
.custom-radio input[type='radio'] {
    margin-right: 5px;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #3498db;
    outline: none;
    position: relative;
    align-items: center;
    margin-bottom: 2pt;
    }
.custom-radio input[type='radio']:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #3498db;
    align-items: center;
} 

.genericBox{
  background-color: #E3F0FF;
  /* color: #b47548; */
  color:#000001;
  align-self: center;
  margin:10px;
  /* width:50%; */
  border-radius: 10pt;
  font-family: 'Rowdies', serif;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border: 20px, solid, #000001;
}
.makeItHover{
  transition: transform 0.3s ease;
}
.makeItHover:hover{
  transform: translateY(-5px);
  cursor: pointer;
  font-weight: bolder;
}
.wordBreak {
  word-break: break-all;
}

.unLink{
  text-decoration: none;
  color:#000001;
}
.unLink:hover{
  color: #2980b9;
}
.addRemoveFriend{
  text-align: center;
}